
@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.bform {
 font-family: "Montserrat", sans-serif;
 color: #8d97ad;
 font-weight: 300;
 overflow: hidden;
 position: relative;
}

.bform h1,
.bform h2,
.bform h3,
.bform h4,
.bform h5,
.bform h6 {
 color: #3e4555;
}

.bform .subtitle {
 color: #8d97ad;
 line-height: 24px;
}

.bform a {
 text-decoration: none;
}

.bform .btn-danger-gradiant {
 background: #ff4d7e;
 background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
 background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
 background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
 background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
 background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
}

.bform .btn-danger-gradiant:hover {
 background: #ff6a5b;
 background: -webkit-linear-gradient(legacy-direction(to right), #ff6a5b 0%, #ff4d7e 100%);
 background: -webkit-gradient(linear, left top, right top, from(#ff6a5b), to(#ff4d7e));
 background: -webkit-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
 background: -o-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
 background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%);
}

.bform .btn-md {
 padding: 15px 45px;
 font-size: 16px;
}

.bform .bg-facebook {
 background-color: #3b5a9a;
}

.bform .bg-twitter {
 background-color: #56adf2;
}

.bform .text-danger {
 color: #ff4d7e !important;
}

.bform .right-image {
 background-position: center bottom;
 background-size: cover;
 background-repeat: no-repeat;
 position: absolute;
 right: 0;
 bottom: 0;
 top: 0;
}

@media (max-width: 1023px) {
 .bform .contact-form {
 padding-left: 0;
 padding-right: 0;
 }
}

@media (max-width: 767px) {
 .bform .contact-form {
 padding-left: 15px;
 padding-right: 15px;
 }
}

@media (max-width: 1023px) {
 .bform .right-image {
 position: relative;
 bottom: -95px;
 }
}
